body {
  width: 100vm;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.header,
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: yellow;
  border: 5px;
  border-color: black;
}
.section1,
.section2,
.section3,
.section4 {
  width: 100%;
  min-height: 22.5%;
}

#header {
  position: fixed;
  top: 0px;
  height: 30px;
  width: 100%;
  border: 5px;
  border-color: black;
  padding-left: 10px;
  box-shadow: 0px 3px 25px 0 black, 0 4px 15px 0px black;
}
#body {
  margin-top: 30px;
  height: 3000px;
  overflow: auto;
}

#headerLinks {
  padding-left: 650px;
}

.section1 {
  padding-top: 8%;
  width: 70%;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 5%;
}
.headerLogo {
  font-weight: 600;
  padding-left: 20px;
  font-size: x-large;
}
.links {
  font-size: medium;
  margin-left: auto;
  padding-right: 50px;
  color: #96bdc4;
  font-weight: 500;
}
.hLink {
  margin-right: 30px;
}

.h1 {
  text-decoration: none;
  color: black;
}

.s1h4 {
  color: black;
  font-weight: 900;
  padding-bottom: 20px;
}

.s1btn {
  background: transparent;
  border: dotted, 2px;
  margin: 0;
  padding: 0;
}

.s1btn a {
  text-decoration: none;
  color: black;
  background-color: #eaabbc;
  border: black 1px solid;
  border-radius: 3px;
  text-align: center;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.s1btn a:hover {
  background: yellow;
}

.s1btn a:active {
  background: #b36b43;
  padding-top: 3px;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #96bdc4;
  color: black;
  box-shadow: 0px 3px 25px 0 black, 0 4px 15px 0px black;
  text-decoration: none;
}

.s1Text {
  width: 300px;
  height: 255px;
}

.s1ImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdd4c1;
  border-radius: 15px;
  width: 255px;
  height: 255px;
  box-shadow: 0px 3px 25px 0 black, 0 4px 15px 0px black;
}
.s1Img {
  width: 240px;
  height: 240px;
  border-radius: 8px;
}

.s1h1 {
  font-weight: 500px;
  font-size: 35px;
  padding-bottom: 30px;
}

.s2h1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 20px;
  font-weight: 500;
}

.b1container {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 231, 114);
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0px 3px 25px 0 black, 0 4px 15px 0px black;
}

.b1container:hover {
  width: 250px;
  height: 250px;
}

.b1Info {
  padding-top: 40px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-style: normal;
  font-size: medium;
}

.s2boxImg {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 3px dotted black;
  transition: 0.5s;
  box-shadow: 0px 3px 25px 0 black, 0 4px 15px 0px black;
}

.s2boxImg:hover {
  width: 250px;
  height: 250px;
  border: 3px dotted aqua;
  transition: 0.5s;
}

.boxes {
  display: flex;
  flex-flow: row wrap; /* ADDED to make content wrap */
  justify-content: space-evenly;
  justify-content: center;
  justify-content: space-around;
  margin-top: 30px;
}

.section3 {
  margin-top: 70px;
  background-color: #96bdc4;
  box-shadow: 0px 3px 25px 0 #000000, 0 4px 15px 0px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px;
}

.footer {
  margin-top: 70px;
}

.s3h3 {
  max-width: 70%;
  font-size: 20px;
  font-weight: lighter;
  color: black;
  font-style: italic;
  padding-top: 30px;
  padding-bottom: 0;
}

.s3h4 {
  max-width: 70%;
  margin-left: auto;
  margin-right: 20%;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
}

.s4box {
  width: 50%;
  border: 1px dotted black;
  box-shadow: 0px 3px 25px 0 black, 0 4px 15px 0px black;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: #c2dbdf;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.s4hs {
  font-weight: 600;
  color: black;
  font-size: 15px;
  margin-left: 10px;
}

.s4btn {
  background: #f36dcb;
  border: dotted, 2px;
  margin: 0;
  padding: 0;
}

.s4btn a:hover {
  background: yellow;
}

.s4btn a:active {
  background: #b36b43;
  padding-top: 3px;
}

.s4btn a {
  text-decoration: none;
  color: black;
  background-color: #f36dcb;
  border: black 1px solid;
  border-radius: 3px;
  text-align: center;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.footer {
  font-style: italic;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
